@page "/contactcard";

<div class="modal">
    <div class="modal-content">
        <div class="modal-title">
        <button class="close">&times;</button>
            <h4>Namn Efternamn</h4>
        </div>
        <div class="contact-info">
            <p>0700000000</p>
            <p>Vägvägen 2 <br> 432 39 Stad</p>
        </div>
    </div>
</div>


@code {

}