@* @page "/contact"

<PageTitle>Contact</PageTitle>

<div class="book-container">
    <div class="book-list-view">
        <div class="left-section">
            <ul>
                <li> Namn Svensson
                </li>
            </ul>
        </div>
        <div class="right-section">
            <ul>
                <li> Namn Jansson
                </li>
            </ul>
        </div>
    </div>
    <button class="next-btn">Next</button>
    <button class="prev-btn">Previous</button>
</div>
   <div class="fast-track">
    <FastTrack />
    </div> *@


