
@*
<div class="modal">
    <div class="modal-content">
        <div class="modal-title">
            <button class="close">&times;</button>
            <h4> @contact.Name @contact.LastName </h4>
        </div>
        <div class="contact-info">
            <p>@contact.Number</p>
            <p>@contact.Email</p>
            <p>Vägvägen 2 <br> 432 39 Stad</p>
        </div>
    </div>
</div>*@


