.modal {
	height: 12rem;
	width: 16rem;
	display: flex;
	align-items: Center;
	border: 1px solid black;
}

.modal-content {
	flex-direction: column;
}

.close {
	border: none;
	cursor: pointer;
	background-color: white;
	font-size: 30px;
}
