.modal {
  height: 12rem;
  width: 20rem;
  display: flex;
  border: 1px solid black;
  background-color: white;
}

.modal-content {
  height: 12rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
}

.close {
  border: none;
  cursor: pointer;
  background-color: white;
  font-size: 30px;
}
li {
  cursor: pointer;
  list-style: none;
}
