.search-bar {
  display: flex;
  align-items: center;
}
input {
  width: 10rem;
  height: 1.5rem;
  border-style: none;
  border: 1px solid black;
  border-right: 0;
}
.search-icon {
  display: flex;
  align-items: center;
}
img {
  width: auto;
  height: 1.6rem;
  border: 1px solid black;
  border-left: 0;
}
