@page "/favourites"

<PageTitle>Favourites</PageTitle>

<div class="book-container">
    <div class="book-list-view">
        <div class="modal-content">
            <h4>Name</h4>
            <h4>LastName</h4>
            <p>Mail</p>
            <p>Number</p>
        </div>

    </div>

</div>

@code {
    [Parameter]
    public bool _isFavourite {get; set;}

    [Parameter]
    public EventCallback AddToFavourite {get; set;}

    public List<Favourite> Favourite = new List<Favourite>();
    
    public void FavouriteList (Favourite favourite)
    {
        _isFavourite = true;

    }
}
