@page "/"

<PageTitle>Contact Application</PageTitle>

<div class="book-container">
    <div class="book-list-view">
        <div class="left-section">
            <ContactList />
            <button class="prev-btn">Previous</button>
        </div>
        <div class="right-section">
            <button class="next-btn">Next</button>
        </div>
    </div>
</div>

@code
{

}
