@page "/"

<PageTitle>Contact Application</PageTitle>

<div class="book-container">
    <div class="book-list-view">
        <div class="left-section">
            <ul>
                <li> Namn Svensson
                </li>
            </ul>
    <button class="prev-btn">Previous</button>
        </div>
        <div class="right-section">
            <ul>
                <li> Namn Jansson
                </li>
            </ul>
    <button class="next-btn">Next</button>
        </div>
    </div>
</div>
   <div class="fast-track">
    <FastTrack />
    </div>



