main {
	width: 42rem;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.search {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.book-container {
	height: 30rem;
	width: 100%;
	border: 1px solid black;
}

.book-list-view {
	/* display: flex;
	justify-content: space-between;
	flex-direction: row; */
	width: 100%;
	height: 100%;
}

.header-section {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}
