@inherits LayoutComponentBase



<main>
<div class="header-section">
    <MenuButton />
    @* <NavMenu /> *@
</div>
<div class="search">
    <SearchBar />
</div>
    <div class="book-container">
        <div class="book-list-view">
            @Body
        </div>
    </div>
 
</main>
    