@inherits LayoutComponentBase

<main>

<div class="header-section">
    <MenuButton />
</div>
@if (MenuButton.isOpen == true) {
 <div class="menu-container">
 <NavMenu />
 </div>
}
<div class="search">
    <SearchBar />
    </div>
    <div class="book-container">
        <div class="book-list-view">
            @Body
        </div>
    </div>
 
</main>
    