<div class="navemenu-container">
    <nav>
        <div class="existing-list">
            <NavLink href="contact">
                Contact Book
            </NavLink>

            <NavLink href="favourites">
                Favourites
            </NavLink>
            <NavLink href="contactcard">
                Contact Card
            </NavLink>
        </div>
        <div class="new-list">
            + Create new list
        </div>
    </nav>
</div>